@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

:root {
    --red: #C8102E;
    --black: #000;
    --white: #fff;
    --gray: #8A8D8F;
}

.custom-nav {
    display: flex;
    background-color: var(--black) !important;
    height: 150px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../images/headback.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: var(--black);
}

.custom-nav img {
    filter: drop-shadow(1px 1px 4px var(--white));
}

.custom-nav li a {
    transition: all 0.5s ease-in-out;
    font-family: 'Unbounded', cursive;
    font-size: 15pt !important;
}

.custom-nav li a:hover {
    color: var(--black);
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: var(--white);
}

input {
    padding-left: 4px !important;
}

h3 {
    font-family: 'Unbounded', cursive;
}

h2 {
    font-family: 'Unbounded', cursive;
    font-size: 15pt !important;
}

button:hover {
    background-color: var(--red) !important;

} 

