@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

:root {
    --red: #E02424;
    --black: #000;
    --white: #fff;
    --gray: #8A8D8F;
    --lightred: #FDE8E8;
}

.custom-nav {
    background-color: var(--black) !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../images/headback.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: var(--black);
    font-family: 'Unbounded', cursive;
}

.custom-nav img {
    filter: drop-shadow(1px 1px 4px var(--white));
}

.custom-nav span {
    filter: drop-shadow(1px 1px 4px var(--black));
}

.spot {
    filter: drop-shadow(1px 1px 2px var(--white));
}

.change-song:hover {
    background-color: #1DB954 !important;
}

input {
    padding-left: 4px !important;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s eas-in-out;
}

input[type=text]:focus {
    width: 70%;
}

h3 {
    font-family: 'Unbounded', cursive;
}

h2 {
    font-family: 'Unbounded', cursive;
    font-size: 15pt !important;
}

button:hover {
    background-color: var(--red) !important;

}


/* Google Maps API specific styling */
#map,
#map-container {
    height: 100% !important;
    width: 100% !important;
    /* position: absolute !important; */
}

html,
body {
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* hiding UI helper */
.ui-helper-hidden-accessible{
    display: none;
}